body {
    color: #aaa;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;

    background-color: #000;
    margin: 0px;
    overflow: hidden;
    touch-action: none;
}

a {
    color: #dddddd;
}

#controlsField {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    margin: 20px;
    background: rgba(50, 50, 50, .5);
    text-align: left;
    line-height: 200%;
}

.vAlignContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    vertical-align: middle;
}

.vAligned {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}
